@use "../Foundation/_base.scss" as base;

body {
    font-size: 16px;
    background-color: base.$cLightgrey;
}

.clearClass {
    display: none;
}

#focusPadding {
    padding-left: 10px;
 
}

#globalContainer {

    .container {
        position: relative;
        height: 100vh;


        .L-header {

            background-color: base.$cWhite;
            display: flex;
            width: 100%;
            height: 60px;
            padding: 10px;
            box-shadow: 0px -10px 12px 4px;
            justify-content: space-around;
            

                .L-header_logoWrap {
                    

                    .L-header_logoWrap_h1 {


                        .L-header_logoWrap_h1_a {

                        
                            .L-header_logoWrap_h1_a_img {
                                padding-top: 5px;
                                width: 75px;
                            }
                        }
                    }
                }

                .L-header_formWrap {

                    padding: 3px 0px 0px 0px;
                    position: relative;

                    .L-header_formWrap_searchIcon {
                        position: absolute;
                        top: 11px;
                        left: 15px;

                        .L-header_formWrap_searchIcon_img  {
                            width: 16px;


                        }
                                
                    }

                    .L-header_formWrap_form {

                        .L-header_formWrap_form_search {

                            background-color: base.$cLightgrey;
                            border-radius: 10px;
                            height: 35px;
                            padding-left: 40px;
                            max-width: 185px;

                        }
                    }
                }

                .mobileMenuContainer {
                    height: 40px;
                    width: 48px;
                    margin-left: 13px;
                    padding-top: 4px;

                    & span {
                        margin: 0 auto;
                        width: 30px;
                        height: 2px;
                        background-color: base.$cblack;
                        display: block;
                        margin-bottom: 7px;
                    }
                }

        }

    }
}

.mobileMenu {

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    height: 100%;
    width: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translate(200px, 0px);
    
    .mobile-menu_main {

        .mobile-menu_item {

            .menuTitle{

            }
        }
    }
}
.menu-on-of  {
    background-color: black;

    & .mobileMenuContainer{
        & span {

            transition: all 0.4s;

            &:nth-child(1) {
                transform: translate(0px, 9px) rotate(135deg);
            }

            &:nth-child(2) {
                transform: translateX(-15px) scale(0);
            }

            &:nth-child(3) {
                transform: translate(0px, -9px) rotate(45deg);
            }
        }
    }
}
